body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}


header {
    background: #ECE69D;
    ;
    background-image:
        url('../images/Bulletin Board.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-repeat: no-repeat, no-repeat;
    background-size: 700px auto, cover;
    text-align: left;
    padding-top: 150px;
    padding-bottom: 120px;
    padding-left: 20px;
    margin-bottom: 60px;
}

header h1,
header h3 {
    line-height: 1.1;
    margin: 5px 0;
}

header h1 {
    font-weight: 300;
    font-size: 70px;
    letter-spacing: 5px;
    margin: 30px 0;
    margin-left: 80px;
}


header h3 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 5px;
    margin: 0;
    position: relative;
    left: 150px;
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #F3F2F9;
    background-color: #699BDE;
    padding: 16px 32px;
    margin-top: 15px;
    margin-left: 215px;
    display: inline-block;
}

.natureimg {
    display: inline-block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}


main {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #ECE69D;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
    padding: 25px 0px -25px 0px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 60px;
    line-height: 1.7;
}

.natureimg {
    display: inline-block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    max-width: 100%;
}

main h3,
main h2,
main p {
    margin-left: 20px;
    margin-right: 20px;
}

main h3 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
    color: #21392c;
    margin: 0%;
}

main h2 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #21392c;
    margin: 0%;
}

main p {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    max-width: 900px;
    line-height: 2.0;
}

footer {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #85A664;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
}

footer h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: -30px;
    padding-top: 20px;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    margin-right: 20px;
    line-height: 24px;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.7;
}

.Opensourced {
    text-align: center;
    color: #49043c;

}

.Opensourced a {
    color: darkgreen;
}

@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    header a {
        font-size: 12px;
        padding: 12px 24px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    section {
        padding: 30px;
    }
}